body {
	background-color: black;
	font-family: "Courier New", monospace;
	color: white;
}


.mySlides {
	display:none;
}


.slideshowContainer {
position:relative;
margin:auto;
clear:both;
width:500px;
}


